<!-- <div class="col">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
</div> -->


<div>
  <!-- <ip-navbar></ip-navbar> -->
</div>
<!-- <div [formGroup]="myform">
  <hr>
  <div class="input-group" >
    <label >Months</label>
    <select  formControlName="month" >
        <option  *ngFor="let res of months" [value]="res">{{res}}</option>

    </select>
  </div>
  <br><br>
  
  
</div> -->


<!-- <div [formGroup]="capdata" (ngSubmit)="addMonths()">
  <input type="text" formControlName="target" placeholder="upper"><br>
  <input type="text" formControlName="lower" placeholder="lower"><br>
  <input type="text" formControlName="upper" placeholder="upper"><br>
  <button type="submit" (click)="addMonths()">Submit</button>

</div> -->


<!-- <div class="input-group">
  <select *ngFor="let month of months" >
      <option value="month">{{month}}</option>
      
  </select>
</div>    -->



  <!-- <ng-select [items]="months" bindLabel="id" placeholder="Select Category" appendTo="body" multiple="true"
  [(ngModel)]="currmonth">
</ng-select> -->


<div style="margin-top: 20px;">
    <form [formGroup]="myform" >
        <!-- <input type="text" formControlName="title"> -->
        <div class="col-sm-2" style="padding:20px ; " >
          <ng-select  [items]="months" bindLabel="name" bindValue="name"   [multiple]="true"
          [(ngModel)]="currmonth"  (change)="rm" [ngModelOptions]="{standalone:true}"  (add)="addMonths($event); " (remove)="removeMonths(currmonth)" (clear)="clearMonths()"  >
        </ng-select>

        </div>
        

        <!-- <div  >
          <select  (change)="addMonths()">
              <option>Select Months</option>
              <option value="month" *ngFor="let month of months" >{{month}}</option>
          </select>
        </div> -->

        <hr>
        

        <div formArrayName="dataCaptured">

            <div   *ngFor="let item of dataCaptured.controls; let i=index" formGroupName="{{i}}">
                <input  type="text"  placeholder="target" formControlName="target">
                <input  type="text" placeholder="lower" formControlName="lower">
                <input type="text" placeholder="upper" formArrayName="upper">

                <button class="btn-danger" (click)="removeMonths(i)" > Remove</button>


            </div>
            <button (click)="getMonthRange()"> Add </button>
        </div>

        <button type="submit" (click)="submit()">Submit</button>


    </form>

</div>